body {
    background-color: #cdcdd0;
}
h1{
    padding-left: 30%;
}
.textAll {
    width: 43%;
    font-size: 25px;
    line-height: 30px;
    position: absolute;
    margin-left: 10px;

}

img{
    position: relative;
    width: auto;
    padding-left: 47%;
    height: 350px;
}
.contact {

}
img {

}