body {
    background-color: #b3b3c2;
}
.textAll {
    width: 600px;
    font-size: 25px;
    line-height: 30px;
    position: absolute;

}
img {
    position: relative;
    height: 350px;
    width: auto;
    padding-left: 620px;


}